APP_NAME=Banco de la Nación
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres

JWT_SECRET_KEY=change_this_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

CORS_ORIGINS=*

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_STORAGE_BUCKET=documentos-creditos

DEFAULT_ADMIN_PASSWORD=123456
